.border{
    margin: 3px;
    border: 2px solid red;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #1f1f1f;
}
.rounded{
    border-radius: 12px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.roboto-regular{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
